.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards.light-blue > ul > li {
  background-color: #e3f2fd;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Style for Bold links to look like buttons */
.cards .cards-card-body strong a {
  display: inline-block;
  background-color: #007bff; /* Agilent Blue or a shade of your choice */
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.cards .cards-card-body strong a:hover {
  background-color: #0056b3;
}
